---
const today = new Date();

import { Icon } from 'astro-icon/components'
---

<footer>
	&copy; {today.getFullYear()} Judine Fiddler. All rights reserved.
	<div class="social-links">
		<a href="https://www.instagram.com/judinefiddler/" target="_blank">
			<span class="sr-only">Follow Judine on Instagram</span>
			<Icon name="uil:instagram-alt" size="28" />
		</a>
		<a href="https://www.instagram.com/judinefiddler/" target="_blank">
			<span class="sr-only">Follow Judine on Facebook</span>
			<Icon name="uil:facebook" size="28" />
		</a>
		<a href="https://x.com/luvminuh" target="_blank">
			<span class="sr-only">Follow Judine on Twitter</span>
			<Icon name="uil:twitter-alt" size="28" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
